@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "vue-toast-notification/dist/theme-bootstrap.css";

.header-div {
    margin: 0 auto;
    max-width: 1320px;
}

#task-search {
    position: relative
}

#task-search i {
    position: absolute;
    right: 20px;
    top: 20px;
    color: gray;
}
